.waking-up .modal__content-spinner {
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.6;
  padding: 20px;
  background-color: rgb(103, 103, 143);

}

.waking-up .modal__content-spinner p:first-child {
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 20px;
}

.waking-up .modal__submit {
    display: none;
}

.waking-up .modal__close {
    display: none;
}

.waking-up .modal {
  background-color: #000000d3;
}
