.waking-up .modal__content {
  text-align: center;
  font-size: 1.1rem;
  line-height: 1.6;
  padding: 20px;
  background-color: rgb(103, 103, 143);
  max-width: 50%;
  margin: 0 auto;
  border-radius: 8px;
}

.waking-up .modal__content p:first-child {
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 20px;
}

.waking-up .modal__submit {
    display: none;
}

.waking-up .modal__close {
    display: none;
}

.waking-up .modal {
  background-color: #000000d3;
}

@media (max-width: 480px) {
  .waking-up .modal__content {
    font-size: 1rem;
    padding: 15px;
    width: 90%;
    max-width: none;
  }
  .waking-up .modal__content p:first-child {
    font-size: 1.4rem;
  }
  .waking-up .modal {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
